<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
          <h1>Code Away!</h1>
     </div> 
     <div class="col-lg-2">
      <h1><a href="https://thimble.mozilla.org/en-US/" class="btn btn-primary" target="_blank"> Log In </a></h1>
     </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2> Click "Start a project from scratch" </h2><br>
      <iframe src="https://thimble.mozilla.org/en-US" height="600px" width="100%"></iframe>
    </div>
  </div>

  
</div>
