
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <h1>We Are C/I</h1>
            <p> Inspiring the next generation of diverse technology leaders </p>
            <% if user_signed_in? == false %>
            <%= link_to 'Sign Up', new_user_registration_path, :class => "btn btn-default" %>
            <%end%>
       </div> 
      </div>
    </div>
  </div>

  <div class="page-header ribbon-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
            <h4> C/I exists to cultivate the potential of America’s underserved youth by narrowing the technical skills gap in our economies and the opportunity gap in our communities. </h4>
       </div> 
      </div>
    </div>
  </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="section"> 
      <div class="container">
      <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="http://www.weare.ci/wp-content/uploads/2014/04/code.gif" alt="Generic placeholder image" width="140" height="140">
            <h2>Code / Interactive</h2>
            <h5>Students learn programming fundamentals in school through a project-based curriculum in HTML, CSS, and Javascript.</h5>
           
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="http://www.weare.ci/wp-content/uploads/2014/04/camp.gif" alt="Generic placeholder image" width="140" height="140">
            <h2>Camp / Interactive</h2>
            <h5>Students attend hackathons and incubators outside of school to apply their skills by building tech products with professional mentors.</h5>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="http://www.weare.ci/wp-content/uploads/2014/04/career.gif" alt="Generic placeholder image" width="140" height="140">
            <h2>Career / Interactive</h2>
            <h5>Students apply for paid summer internships at top tech startups to prepare for their future careers in the industry.</h5>
            
          </div><!-- /.col-lg-4 -->
         </div> 
      </div><!-- /.row -->
    </div>