<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h1>Edit <%= @track.name %></h1>
      </div> 
      <div class="col-lg-2">
        <h1> <%= link_to 'Back', @track, :class => "btn btn-primary" %> </h1>
      </div>

    </div>
    <!-- /.col-lg-12 -->
  </div>
</div> 

<div class="container">
    <div class="row">
      <div class="col-lg-12">

        <%= render 'form' %>

        </div>
    </div>
</div>