<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
         <h1> C/I Classrooms  </h1>
     </div> 
    </div>
  </div>
</div>

  <div class="container">
     <div class="row">

          <p id="notice"><%= notice %></p>            
             
              <% @classrooms.each do |classroom| %>
                <div class="col-lg-4">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                           <%=classroom.name%>
                        </div>
                        <div class="panel-body">
                            <p>Teacher: <%=classroom.teacher.last_name%></p>
                        </div>
                        <div class="panel-footer">
                             <%= link_to "View Classroom", classroom%>
                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>  
              <% end %> 
           
      </div>
    </div>




