  <div id="page-wrapper">
     <div class="row">
        
  
      <p id="notice"><%= notice %></p>     
        <h1>Create Your Student Profile</h1>
        
        <%= render 'form' %>

        <p> Not a student? Create a <%= link_to 'Teacher Acount', new_teacher_path %> </p>
        
   
  </div>
<div>