<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
          <h1>Create a new event</h1>
     </div> 
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <%= render 'form' %>

      <%= link_to 'Explore More Events', events_path %>
    </div>
</div>