<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
         <h1>Update Teacher Profile</h1>
     </div> 
    </div>
  </div>
</div>

 <div class="container">

     <div class="row">
        

        <%= render 'form' %>

        <div class="col-md-12">
        <%= link_to 'Back', @teacher %> | <%= link_to "Update Email/Password", edit_user_registration_path %>
        </div>
    </div>
 </div>

