 <div id="page-wrapper">
     <div class="row">
        <h1>Editing Teacher</h1>

        <%= render 'form' %>


        <%= link_to 'Back', @teacher %> | <%= link_to "Update Email/Password", edit_user_registration_path %>
    </div>
 </div>

