 <div id="page-wrapper">
     <div class="row">
      <p id="notice"><%= notice %></p>     
        <h1>Create Your Teacher Profile</h1>

        <%= render 'form' %>

        <p> Not a teacher? Create a <%= link_to 'Student Acount', new_student_path %> </p>  
  </div>
<div>