<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
         <h1>Create Your Teacher Profile</h1> 
     </div> 
    </div>
  </div>
</div>

<div class="container">

     <div class="row">
      <p id="notice"><%= notice %></p>     
        <div class="col-md-12">
          <h3> Please fill the below information </h3>
          <p> Not a teacher? Create a <%= link_to 'Student Acount', new_student_path %> 
          </p> 
        </div>
        <%= render 'form' %>

         
  </div>
<div>