<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
          <h1>Create new school</h1>        
     </div> 
    </div>
  </div>
</div>

<div class="container">
 
     <div class="row">
      <h1>New School</h1>

      <%= render 'form' %>

      <%= link_to 'Back', schools_path %>
      </div>

</div>