/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope. 
 *
 *= require_tree .
 *= require_self
 *= require chosen
 *= require select2
 *= require select2-bootstrap
 
 *= require bootstrap-datetimepicker
 
 
 */ 


@import "bootstrap";


/* Some Style from the Bootstrap Default Theme */
body {
    background-color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

.ribbon-top {
    padding-bottom: 3em;
    padding-top: 3em;
    margin-bottom: 20px;
    margin-top: 0px;
    border-bottom: 1px solid #eeeeee;
    background-color: #0f4278;
    color: #fff;
}

.form-inline {
    margin-bottom: 20px;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar {
    min-height: 70px
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}



.nav > li {
  margin-top: 10px;
}

.nav > li > a{
  font-size: 1.25em;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

img.navbar-brand {
    float: left;
    height: 65px;
    padding: 5px 15px;
    line-height: 20px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        height: 100vh;
        width: 250px;
        margin-top: 1px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}


.footer {
    background-color: #f5f5f5;
    color: #aaa;
    padding: 50px 0 35px 0;
    margin-top: 20px;
    z-index: 1;
}
.footer h3 {
    text-transform: uppercase;
    font-size: 15px;
}
.footer ul {
    padding: 0;
    list-style: none;
}
.footer a {
    color: #aaa;
    font-size: 13px;
    display: inline-block;
    padding: 5px 0;
}

.btn-primary {
    color: #fff;
    background-color: #F38120;
    border-color: #F38120;
}

.btn-primary:hover {
    background-color: #e06d0c;
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel {
  border: 1px solid #d3d3d3;
}

.panel:hover{
  border: 1px solid #939393;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel-project {
   height: 300px;
}

.panel-project img{
    width: 100%;
    height: 75%;
}




.panel-project p {
   overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.panel-img-footer {
  height: 20px;
  width: 20px;
}


.navbar-brand{
    padding: 0px 15px;
}

.jumbotron {
  background: image_url("jumbtron4.jpeg") no-repeat center center; 
  background-size:cover;
  color: #fff; 
  height: 500px; 
  padding-top: 25px; 
  margin-bottom: 0; 
} 

.jumbotron h1{
  margin-top: 175px; 
} 

.jumbotron h2:first-child {
  margin:120px 0 0; 
} 

.jumbotron h2 {
  color:#fff; 
  font-size: 60px; 
  text-align: right; 
  margin:0; 
  width:100%; 
} 

.section {
  text-align: center; 
  padding-top: 40px;
  padding-bottom: 40px; 
} 

.banner h3 {
  margin: 0; 
  padding: 0; 
  color:#fff; 
} 

.section h4 {
  color:#d8192f; 
  margin: 30px 0 20px; 
  padding: 0; 
  font-size: 20px; 
} 

.section .btn {
  background-color:rgba(216,25,47,.5); 
  border:0px; 
  margin-top: 24px; 
  color: #fff; 
} 

.section ul {
  list-style-type: none; 
  margin-top: 10px; 
  padding: 0; 
} 

.user-image{
    height: 230px;
    width: 230px;
    margin-bottom: 10px;
    
    
}


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/*CARDS */

.card-container {
  
}

.card {
  background-color: #EEE;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
}

#global-header {
    display: none;
}


.select2.select2-container.select2-container--bootstrap  {
    width: 100% !important; /* or any value that fits your needs */
}

.chosen-container.chosen-container-single {
    width: 300px !important; /* or any value that fits your needs */
}

#map-container {
   height: 400px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
 }
 #map-canvas iframe{
   height: 384px;
   width: 100%;
 }