 <div class="footer">
    <div class="container">
      <div class="col-md-2">
        <h3>C/I</h3>
        <ul>
          <li><a href="http://www.weare.ci/blog">Website</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <h3>About</h3>
          <li><a href="http://www.weare.ci/blog/">Blog</a></li>
          <li><a href="#">Team</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <h3>Support</h3>
          <li><a href="#">Get Started</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4 pull-right">
        <ul>
          <h3>Community</h3>
          <a href="https://www.facebook.com/weareci" class="btn">
            <i class="fa fa-facebook fa-3x"></i>
          </a>
          <a href="https://twitter.com/weareci" class="btn">
            <i class="fa fa-twitter fa-3x"></i>
          </a>
          <a href="https://www.instagram.com/weareci/" class="btn">
            <i class="fa fa-instagram fa-3x"></i>
          </a>
          <a href="https://vimeo.com/weareci" class="btn">
            <i class="fa fa-vimeo fa-3x"></i>
          </a>
          <a href="https://github.com/weareci" class="btn">
            <i class="fa fa-github fa-3x"></i>
          </a>
        </ul>
      </div>
    </div>
  </div>